<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="OperationsDb" connectionString="Data Source=MSISIGNATURE142\MSISIGNATURE2017;Initial Catalog=iCompare_VatGlobal_Operations;User Id=Jaco;Password=Signature@1234" providerName="System.Data.SqlClient"/>
    <add name="MasterDb" connectionString="Data Source=VITUKSQLTEST01;Initial Catalog=iCompare_Master_Vitality_Invest_Prod;User Id=icompare;Password=icompare2012" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="[PRIVATEPATH]" />
    </assemblyBinding>
  </runtime>

  <appSettings>
    <add key="AssemblyPath" value="[ASSEMBLYPATH]"/>
    <add key="FusionAssemblyPath" value="[FUSIONASSEMBLYPATH]"/>
    <add key="LibAssemblyPath" value="[LIBASSEMBLYPATH]"/>
    <add key="ScriptPath" value="[SCRIPTPATH]"/>
    <add key="ScriptName" value="ICompare" />
    <add key="ReportStatistics" value="ForeignKeys,StringLength,MetaData,RemovedColumns,StoredProcedures,Views" />
    <add key="ComparisonDatabaseTypes" value="Master,Operations" />
    <add key="GenerateScript" value="true" />
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>