<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="VikingsX" connectionString="Data Source=WYBO;Integrated Security=True" />
  </connectionStrings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="[PRIVATEPATH]" />
    </assemblyBinding>
  </runtime>

  <appSettings>
    <add key="DbName" value="VikingsX3" />
    <add key="DbCreateMethod" value="Full" />
    <add key="CommandTimeout" value="200" />
    <add key="CanLogExceptionDetail" value="true" />
    <add key="AssemblyPath" value="[ASSEMBLYPATH]"/>
    <add key="FusionAssemblyPath" value="[FUSIONASSEMBLYPATH]"/>
    <add key="ScriptPath" value="[SCRIPTPATH]" />
    <add key="ScriptName" value="ICompare" />
  </appSettings>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>