<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="NeuronInterceptors" type="Synapse.Business.SynapseKineticAgent.NeuronInterceptorSection, Synapse.Business.SynapseKineticAgent"/>
  </configSections>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="[PRIVATEPATH]" />
    </assemblyBinding>
  </runtime>

  <appSettings>
    <add key="LogPresenterTypes" value="ConsoleLogPresenter,SqlLogPresenter" />
    <add key="CloseOnFinish" value="false" />
    <add key="CommandMode" value="false" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>