<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib;lib/icompare;lib/devexpress;lib/fluid;lib/fusion" />
    </assemblyBinding>
  </runtime>
  
  <connectionStrings>
    <add name="Operations" connectionString="{CONNECTIONSTRING}"/>
  </connectionStrings>

  <appSettings>
    <add key="EngineId" value="{ENGINEID}"/>
    <add key="EngineName" value="Matching Engine"/>
    <add key="EngineDescription" value="Matching Engine"/>
    <add key="Engineversion" value="1.4.2.20"/>
    <add key="CommandTimeout" value="30000"/>
  </appSettings>

  <!-- This section contains the log4net configuration settings -->
  <log4net debug="false">

    <!-- Define some output appenders -->
    <appender name="trace" type="log4net.Appender.TraceAppender, log4net">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %c{1}:%L - %m%n"/>
      </layout>
    </appender>

    <appender name="console" type="log4net.Appender.ConsoleAppender, log4net">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d %-5p %c{1}:%L - %m%n"/>
      </layout>
    </appender>

    <appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="./logs/log.txt"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Size"/>
      <param name="maximumFileSize" value="5MB"/>
      <param name="maxSizeRollBackups" value="20"/>
      <param name="StaticLogFileName" value="true"/>

      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
      </layout>
    </appender>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline"/>
      </layout>
    </appender>

    <!-- Setup the root category, add the appenders and set the default priority -->
    <root>
      <priority value="ERROR"/>
      <appender-ref ref="rollingFile"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
  </log4net>
  
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
